<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="xt84" />
		<link rel="me" type="text/html" href="http://twitter.com/xt84" /> 
		<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
	</head>
	<body>
		<header>
			<div class="header">
				<a href="/" class="header">XT84 blgo</a>
				<img src="img/avatar.png" />
			</div>
		</header>

		<div class="content">{{ content }}</div>

		<footer>
			<div class="contacts">
				<a href="http://twitter/xt84"><img src="img/twitter.png" /></a>
				<a href="mailto:echuvpilo@gmail.com"><img src="img/gmail.png" /></a>
			</div>
		</footer>
	</body>
</html>